<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
{{> header}}

<p>Some help tips. Click for more.</p>

{{> footer}}
</body>
</html>