<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
{{> header}}

<p>{{upper welcomeMessage}}</p>

{{> footer}}
</body>
</html>