<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
</head>
<body>
<h1>Site is under maintenance</h1>

<p>A likkle patience and we would get back to you</p>

{{> footer}}
</body>
</html>